body {
    background-color: orangered;
    background-image: url();
}
#jokeButton{
    position: relative;
    margin: 0px 0px 0px 0px;
    float: left;
    border: none;
    margin-right: 1rem;
    font-family: Kalam;
    transition: 2s;
    
}
#jokeButton:hover{
    transform: scale(1.2)
}

#jokeContainer{
    position: relative;
    width: 60%;
    left: 20%;
    background-color:lightblue;
    font-family:Kalam;
}
#jumbo-header{
    background-color: cadetblue;
}


.jumbotron{
    font-family: Amatic sc;
    
}
#jumboJump{
    font-family: Amatic sc, cursive;
    font-size: 2rem;
    font-weight: 900;
}